accelerate
altair
attrs
AudioRecorder      
blinker
boto3
botocore     
cachetools       
certifi      
cffi
charset-normalizer
click
colorama
cryptography
ffmpeg
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
importlib-metadata
Jinja2
jmespath
jsonschema
jsonschema-specifications
llvmlite
markdown-it-py
MarkupSafe
mdurl
more-itertools
mpmath
networkx
numba
numpy
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
packaging
pandas
pillow
protobuf
psutil
pyarrow
PyAudio
pycparser
pydeck
pydub
Pygments
python-dateutil
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
s3transfer
safetensors
scipy
six
smmap
sounddevice
soundfile
soxr
SpeechRecognition
streamlit
streamlit-audiorec
streamlit-audiorecorder
streamlit-mic-recorder
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchaudio
tornado
tqdm
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
whisper
wisper
zipp
